*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navbar .nav-item{
    margin-left: 20px;
}
.section1{
    width: 100%;
    height: 700px;
    /* border: 1px solid black; */
    background-image: url(img/img1.jpg); 
}
.section1 h1{
    padding-top: 240px;
    color: rgb(88, 188, 88);
}
.section1 h6{
    color: rgb(74, 60, 60);
    padding-top: 20px;
    padding-bottom: 20px;
}
.section1 .btn{
    margin-left: 670px;
    width: 180px;
    height: 60px;
}
.section2{
    width: 100%;
    height: 800px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.section2 .learn{
    flex-basis: 50%;
    height: 500px;
    /* border: 1px solid black; */
}
.section2 .learn img{
    margin-left: 90px;
    margin-top: 25px;
}
.section2 .learn h4{
    margin-left: 90px;
}
.section2 .learn p{
    margin-left: 90px;
}
.section2 .learn h5{
    margin-left: 90px;
}
.section2 .learn .btn{
    margin-left: 90px;
}
.section2 .learn1{
    flex-basis: 50%;
    height: 500px;
    /* border: 1px solid black; */
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    background-image: url(img/img1.jpg);
    background-size: 760px;

}


.img{
    margin-left: 665px;
    margin-bottom: 15px;
}

.section3{
    width: 100%;
    height: 600px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.section3 .our1{
    flex-basis: 23%;
    height: 400px;
    /* border: 1px solid black; */
    border-bottom-right-radius: 170px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgb(248,239,212);
}
.section3 .our2{
    flex-basis: 23%;
    height: 400px;
    /* border: 1px solid black; */
    border-bottom-right-radius: 170px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgb(230,231,246);
}
.section3 .our3{
    flex-basis: 23%;
    height: 400px;
    /* border: 1px solid black; */
    border-bottom-right-radius: 170px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgb(221,248,246);
}
.section3 .our4{
    flex-basis: 23%;
    height: 400px;
    /* border: 1px solid black; */
    border-bottom-right-radius: 170px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgb(249,228,228);
}
.section3 .our1 .ours{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin-left: 100px;
    margin-top: -50px;
    background-image: url(img/img3.jpg);
    background-size: cover;
    
}
.section3 .our2 .ours1{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin-left: 100px;
    margin-top: -50px;
    background-image: url(img/img4.jpg);
    background-size: cover;
    
}
.section3 .our3 .ours2{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin-left: 100px;
    margin-top: -50px;
    background-image: url(img/img5.jpg);
    background-size: cover;
    
}
.section3 .our4 .ours3{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin-left: 100px;
    margin-top: -50px;
    background-image: url(img/img6.jpg);
    background-size: cover;
   
}

.section4{
    width: 100%;
    height: 500px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.section4 .arts{
    flex-basis: 33%;
    height: 170px;
    /* border: 1px solid black; */
}
.section4 .arts div{
    width: 90px;
    height: 90px;
    /* border: 1px solid black; */
}
.section4 .arts div img{
    width: 100%;
    height: 100%;
}
.section4 .arts h5{
    margin-left: 100px;
    margin-top: -90px;
}
.section4 .arts p{
    margin-left: 100px;
    margin-top: 20px;
}
.section4 .arts a{
    margin-left: 100px;
    text-decoration: none;
}
.pg7{
    width: 100%;
    height: 550px;
    /* border: 1px solid black; */
    background-color: rgb(248,239,212);
    margin-top: 50px;
}
.carousel{
    height: 550px;
    
}
.carousel-inner{
    height: inherit;
    align-items: center;
}
.carousel-item{
    height: inherit;
}

.pg7 .carousel-inner .carousel-item  .ours8{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin-left: 590px;
    margin-top: 40px;
    margin-bottom: 20px;    
    background-image: url(img/img3.jpg);
    background-size: cover;
    
}
.pg7 .carousel-inner .carousel-item   .ours9{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin-left: 590px;
    margin-top: 40px;
    margin-bottom: 20px;    
    background-image: url(img/img4.jpg);
    background-size: cover;
    
}
.pg7 .carousel-inner .carousel-item  .ours10{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin-left: 590px;
    margin-top: 40px;
    margin-bottom: 20px;    
    background-image: url(img/img5.jpg);
    background-size: cover;
    
}
.pg7 .carousel-inner .carousel-item  .ours11{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin-left: 590px;
    margin-top: 40px;
    margin-bottom: 20px;
    background-image: url(img/img6.jpg);
    background-size: cover;
   
}

.section5{
    width: 100%;
    height: 600px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.section5 .photo{
    flex-basis: 30%;
    height: 550px;
    /* border: 1px solid black; */

}
.section5 .photo1{
    flex-basis: 30%;
    height: 350px;
    /* border: 1px solid black; */
}
.section5 .photo1 img{
    width: 100%;
    height: 100%;
}
.section5 .photo2{
    flex-basis: 30%;
    height: 200px;
    /* border: 1px solid black; */
}
.footer{
    height: 300px;
    /* border: 1px solid black; */
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(180,209,232);
}
.footer .foo{
    flex-basis: 20%;
    height: 300px;
    /* border: 1px solid black; */
}
.footer .foo a{
    text-decoration: none;
    color: rgb(162,147,145);
}
.footer .foo h4{
    padding-top: 80px;
}
@media(max-width:992px)
{
    .section1 .btn{
        margin-left: 400px;
    }
    .section4{
        height: auto;
        flex-direction: column;
    }
    .section4 .arts{
        margin: 10px;
    }
    .section5{
        height: auto;
        flex-direction: column;
        margin-top: 50px;
    }
    .footer{
        height: auto;
        flex-direction: column;
    }
}
@media(max-width:768px)
{
    .section1 .btn{
        margin-left: 300px;
    }
    .section2{
        height: auto;
        flex-direction: column;
    }
    .section4{
        height: auto;
        flex-direction: column;
    }
    .section4 .arts{
        margin: 10px;
    }
    .section5{
        height: auto;
        flex-direction: column;
        margin-top: 50px;
    }
    .footer{
        height: auto;
        flex-direction: column;
    }
}
@media(max-width:576px)
{
    .section1 .btn{
        margin-left: 200px;
    }
    .section2{
        height: auto;
        flex-direction: column;
    }
    .section3{
        height: auto;
        flex-direction: column;
    }
    .section3 .our1{
        margin: 40px;
    }
    .section3 .our2{
        margin: 40px;
    }
    .section3 .our3{
        margin: 40px;
    }
    .section3 .our4{
        margin: 40px;
    }
    .section4{
        height: auto;
        flex-direction: column;
    }
    .section4 .arts{
        margin: 10px;
    }
    .pg7 .carousel-inner .carousel-item  .ours{
        margin-left:  200px;
    }
    .section5{
        height: auto;
        flex-direction: column;
        margin-top: 50px;
    }
    .footer{
        height: auto;
        flex-direction: column;
    }
}